<%- include("partials/header.ejs") %>
<div class="main">
    <h1>SEE ALL</h1> 
    <div class="'content>">
     <%posts.reduceRight((acc,curr) => { %>
        <div class="title">
            <%=curr.title%>
        </div>
        <div class="description">
            <%=curr.description%>
        </div>
        <div class="image">
            <img src="<%=curr.photo%>" width="200px">
        </div>
     <%},[]) %>
    </div>
</div>
<%- include("partials/footer.ejs") %>
