<%- include("partials/header.ejs") %>
    <div class="main">
        <h1>See all</h1>
        <div class="'content>">
            <% if (posts.length===0) {%>
                <div class ="if-not-created">You haven't posted anything yet. Click "Create new note" and create your first note</div>
            <%}%>
            <%posts.reduceRight((acc,curr)=> { %>

                <% if (curr.title!==undefined) { %>
                    <div class="note-title">
                        <%=curr.title%>
                    </div>
                    <%}%>
                    <div class="note-content">

                        <% if (curr.description!==undefined) { %>
                            <div class="note-description">
                                <%=curr.description%>
                            </div>
                        <%}%>

                        <% if (curr.photo!==undefined) { %>
                            <img src="<%=curr.photo%>">
                        <%}%>

                    </div>

                <%},[]) %>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>